  <h1>Conversor de Temperaturas con Express</h1>

  <table>
    <tr>
      <th>Introduzca la temperatura a convertir (ejemplo: 32F, 45C, -2.5f):</th>
      <td><input id="inicial" autofocus onchange="calculate();" placeholder="32F" size="50"></td>
    </tr>
    <tr>
      <th>Temperatura convertida:</th>
      <td><span class="output" id="converted"></span></td>
    </tr>
  </table>
